<footer class="footer-last" id="footer">
  <div class="container">
    <div class="block">
      <h2 class="footer-text-first link">Chocolate<span class="footer-second-text link"> a delicious cure for a bad day
      </span>
      </h2>
      </div>
      <div class="footer-top-wrap">
        <address class="footer-social">
          <p class="footer-contact">Contact us</p>
          <ul class="footer-contact-list list">
            <li class="footer-address-item">
              <a class="footer-mobile link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-address-item">
              <a class="footer-email link" href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
        
        <ul class="footer-contact-list list">
          <li class="footer-list-iteam">
            <a
              class="footer-list-link"
              href="https://www.instagram.com/"
              title="Insta"
            >
              <svg class="footer-list-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-list-iteam">
            <a
            class="footer-list-link"
            href="https://www.twitter.com/"
            title="twitter"
          >
          <svg class="footer-list-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-twitter"></use>
          </svg>
          </li>
        </ul>
  </div>
  <div class="line-4"></div>
  <div class="footer-end">
    <nav class="footer-navigation">
      <ul class="footer-list list">
   <li class="footer-iteam">
<a href="#" class="footer-link link">
  Home
</a>
</li>
<li class="footer-iteam">
  <a href="#" class="footer-link link">
    How it’s made?
  </a>
  </li>  
   <li class="footer-iteam">
    <a href="#" class="footer-link link">
      Our products
    </a>
    </li>   <li class="footer-iteam">
      <a href="#" class="footer-link link">
        Top sellers
      </a>
      </li>  
       <li class="footer-iteam">
        <a href="#" class="footer-link link">
          Chocolate is loved
        </a>
        </li>
      </ul>
    </nav>
  </div>
  </div>
</footer>
      