<div class="container header-container">
  <nav class="header-navigation">
    <a class="header-logo" href="./index.html">
      <span class="header-logo-part">SIMPLY</span>CHOCOLATE
      <svg class="header-logo-svg" width="24px">
        <use href="./img/sprite.svg#icon-Vector"></use>
      </svg>
    </a>
    <ul class="header-list-anchor">
      <li>
        <a class="header-link-anchor" href="./index.html">Home</a>
      </li>
      <li>
        <a class="header-link-anchor" href="#how-its-made-anchor"
          >How it’s made?</a
        >
      </li>
      <li>
        <a class="header-link-anchor" href="#our-products-anchor"
          >Our products</a
        >
      </li>
      <li>
        <a class="header-link-anchor" href="#top-sellers-anchor">Top sellers</a>
      </li>
      <li>
        <a class="header-link-anchor" href="#chocolate-is-loved-anchor"
          >Chocolate is loved</a
        >
      </li>
    </ul>
  </nav>

  <ul class="header-social-list">
    <li>
      <a href="http://www.instagram.com" class="header-social-link">
        <svg class="social-footer-icon" widht="24">
          <use href="./img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="http://www.twitter.com" class="header-social-link">
        <svg class="social-footer-icon" widht="24">
          <use href="./img/sprite.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>

  <button type="button" class="header-mobile-button js-open-menu">
    <svg class="header-mobile-button-burger" width="32px">
      <use href="./img/sprite.svg#icon-Icon-burger"></use>
    </svg>
  </button>
</div>
