<section class="hero">
  <div class="container hero-container">
    <h1 hidden>SIMPLY CHOCOLATE</h1>
    <p class="hero-description">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </p>
    <div class="hero-list-btn">
      <ul class="hero-list">
        <li class="hero-item">
          <button type="button" class="hero-buy-now hero-btn">Buy now</button>
        </li>
        <li class="hero-item">
          <button type="button" class="hero-How-its-made hero-btn">
            How it’s made
          </button>
        </li>
        <!-- <li class="hero-item">
        <button type="button" class="hero-scroll-down">scroll down</button>
      </li> -->
      </ul>
      <button type="button" class="hero-scroll-down">
        scroll down
        <span class="hero-link-icon">
          <svg class="hero-icon" width="22" height="22">
            <use href="../img/sprite.svg#icon-scroll_down"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</section>
