<section class="hero">
  <div class="container hero-container">
    <h1 hidden>SIMPLY CHOCOLATE</h1>
    <p class="hero-description">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </p>
    <div class="hero-list-btn">
      <div class="hero-list">
        <button type="button" data-modal-open class="hero-buy-now hero-btn">
          Buy now
        </button>
        <a href="#how-its-made-anchor" class="hero-how-its-made hero-btn"
          >How it’s made</a
        >
      </div>
      <a href="#footer-anchor" class="hero-scroll-down">
        scroll down
        <span class="hero-link-icon">
          <svg width="22" height="22" class="hero-icon">
            <use href="./img/sprite.svg#icon-scroll"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
