<section class="him">
  <div class="container him-container">
    <h2 id="how-its-made-anchor" class="him-title">
      HOW IT’S <span class="him-title-alt">MADE?</span>
    </h2>
    <div class="him-content-block">
      <video
        class="him-video"
        src="/img/how-its-made/video/videoplayback.mp4"
        poster="/img/how-its-made/vid-cover-desctop.jpg"
        controls
        preload="auto">
    </video>
    



      
          
        <ul class="him-list">
          <li class="himsub-item">
          <div class="pupa-test">
            <h3 class="him-subtitle">
            Try our chocolates today and discover the perfect balance of flavor
          </h3>
          </div>
          </li>
          <li class="him-item">
            <p class="him-text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="him-item">
            <p class="him-text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="him-item">
            <p class="him-text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="him-item">
            <p class="him-text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="him-item">
            <p class="him-text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      
    </div>
  </div>
</section>
