<div class="mob-menu js-menu-container">
<div class="mob-menu-container">
    <button class="btn-mob-menu-close js-close-menu" type="button">
        <svg class="btn-mob-menu-close-icon">
            <use href="../img/sprite.svg#icon-close-modal"></use>
        </svg>
    </button>
    <nav class="mob-menu-nav">
    <ul class="mob-menu-nav-list">
        <li class="mob-menu-nav-item"> 
            <a class="mob-menu-nav-link current-link" href="../index.html">Home</a>
        </li>
        <li class="mob-menu-nav-item"> 
            <a class="mob-menu-nav-link " href="#how-its-made-anchor">How it's made</a>
        </li>
        <li class="mob-menu-nav-item"> 
            <a class="mob-menu-nav-link" href="#our-products-anchor">Our products</a>
        </li>
        <li class="mob-menu-nav-item"> 
            <a class="mob-menu-nav-link" href="#top-sellers-anchor">Top sellers</a>
        </li>
        <li class="mob-menu-nav-item"> 
            <a class="mob-menu-nav-link" href="#chocolate-is-loved-anchor">Chocolate is loved</a>
        </li>
    </ul>
    </nav>

    <ul class="mob-menu-social-media-list">
        <li class="mob-menu-soical-media-item">
            <a class="mob-menu-social-media-link" href="#">
                <svg class="mob-menu-social-media-icon">
                    <use href="/img/sprite.svg#icon-instagram-mobile" ></use>
                </svg>
            </a>
        </li>
        <li class="mob-menu-soical-media-item">
            <a class="mob-menu-social-media-link" href="#">
                <svg class="mob-menu-social-media-icon">
                    <use href="/img/sprite.svg#icon-twitter-mobile" ></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
</div>