<!-- <button class="button-open__modal-leave-a-review" type="button">
  Leave a review
</button> -->

<div class="backdrop__modal-leave-a-review is_hidden" data-modal-leave-a-review>
  <div class="modal-leave-a-review">
    <h1 class="title-mobile__modal-leave-a-review">
      leave a review &nbsp; about <span>our chocolate</span>
    </h1>
    <h1 class="title-tablet__modal-leave-a-review">
      leave a review about <span>our chocolate</span>
    </h1>
    <form
      class="form__modal-leave-a-review"
      autocomplete="on"
      id="modal-leave-a-review"
    >
      <input
        class="form-input__modal-leave-a-review"
        type="text"
        name="username__modal-leave-a-review"
        placeholder="Name"
        pattern="[a-zA-Zа-яА-ЯІіЇїЄєҐґ'-]+"
      />

      <input
        class="form-input__modal-leave-a-review"
        type="email"
        name="email__modal-leave-a-review"
        placeholder="Email"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
      />

      <div class="container-phone-code">
        <svg class="icon-phone-code" width="24" height="18">
          <use href="./img/sprite.svg#icon-flag-of-ukraine"></use>
        </svg>
        <label class="label-phone-code" for="tel">+380</label>
        <input
          class="form-input__modal-leave-a-review phone-code"
          type="tel"
          name="tel__modal-leave-a-review"
          id="tel"
          placeholder="Phone number"
          pattern="\d{9}"
        />
      </div>

      <textarea
        class="form-input__modal-leave-a-review"
        name="comment__modal-leave-a-review"
        id="comment"
        rows="5"
        placeholder="Enter text"
        required
      ></textarea>

      <button
        class="button-submit__modal-leave-a-review"
        type="submit"
        id="submitButton"
        disabled
      >
        Send
      </button>
    </form>

    <button
      type="button"
      class="button-close__modal-leave-a-review"
      data-modal-leave-a-review-close
    >
      <svg class="button-close-x" width="24" height="24">
        <use href="./img/sprite.svg#icon-close-modal"></use>
      </svg>
    </button>
  </div>
</div>
