<button class="button-open__modal-leave-a-review" type="button">
  Leave a review
</button>

<div class="backdrop__modal-leave-a-review is-hidden">
  <div class="modal-leave-a-review">
    <h1 class="title__modal-leave-a-review">
      leave a review &nbsp; about <span>our chocolate</span>
    </h1>
    <form class="form__modal-leave-a-review" autocomplete="on">
      <input
        class="form-input__modal-leave-a-review"
        type="text"
        name="username"
        placeholder="Name"
      />

      <input
        class="form-input__modal-leave-a-review"
        type="email"
        name="email"
        placeholder="Email"
      />

      <input
        class="form-input__modal-leave-a-review"
        type="tel"
        name="tel"
        placeholder="Phone number"
      />

      <textarea
        class="form-input__modal-leave-a-review"
        name="comment"
        id="comment"
        rows="5"
        placeholder="Enter text"
      ></textarea>

      <button class="button-submit__modal-leave-a-review" type="submit">
        Send
      </button>
    </form>

    <button type="button" class="button-close__modal-leave-a-review">
      <svg width="24" height="24">
        <use href="../img/sprite.svg#icon-close-modal"></use>
      </svg>
    </button>
  </div>
</div>
