<div class="backdrop is-hidden" data-modal>
  <div class="modal-explore-our-choc">
    <button
      type="button"
      class="modal-explore-our-choc-close-btn"
      data-modal-close
    >
      <svg class="modal-explore-our-choc-close-btn-icon" width="14" height="14">
        <use href=""></use>
      </svg>
    </button>
    <h2>EXPLORE OUR <span>NEW CHOCOLATE</span> FIRST!</h2>
    <form class="subscribe-modal-form">
      <input
        type="email"
        name="user_email"
        class="subscribe-modal-form-input"
        placeholder="Enter your e-mail"
      />
      <button type="submit" class="subscribe-submit">
        Submit
        <svg class="subscribe-icon" width="" height="">
          <use href=""></use>
        </svg>
      </button>
    </form>
  </div>
</div>
