<section class="products">
  <div class="container slider-container">
    <h2 class="products-title-section">
      Our <span class="products-title-accent">products</span>
    </h2>
    <!-- Slider main container -->
    <div class="myswiper swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper swiper-list">
        <!-- Slides -->
        <div class="swiper-slide swiper-item">
          <img
          srcset = "./img/our-products/orange-chock@2x.jpg 2x"
          src="./img/our-products/orange-choc.jpg"
          alt="orange chocolate"
          >
          <h3 class="products-title">orange </h3>
          <p class="products-descr">Dark chocolate</p>
          <div class="products-sale">45 UAH</div>
        </div>
        <div class="swiper-slide swiper-item">
          <img
          srcset = "./img/our-products/apple-choc@2x.jpg 2x"
          src="./img/our-products/apple-choc.jpg"
          alt="orange chocolate">
          <h3 class="products-title">APPLE&CRANBERRY</h3>
          <p class="products-descr">Milk chocolate</p>
          <div class="products-sale">50 UAH</div>
        </div>
        <div class="swiper-slide swiper-item">
          <img
          srcset = "./img/our-products/lime-choc@2x.jpg 2x"
          src="./img/our-products/lime-choc.jpg"
          alt="orange chocolate">
          <h3 class="products-title">lime&sea salt</h3>
          <p class="products-descr">Dark chocolate</p>
          <div class="products-sale">66 UAH</div>
        </div>
        <div class="swiper-slide swiper-item">
          <img
          srcset = "./img/our-products/pineapple-choc@2x.jpg 2x"
          src="./img/our-products/pineapple-choc.jpg"
          alt="orange chocolate">
          <h3 class="products-title">pineapple</h3>
          <p class="products-descr">Dark chocolate</p>
          <div class="products-sale">54 UAH</div>
        </div>
        <div class="swiper-slide swiper-item">
          <img
          srcset = "./img/our-products/classic-choc@2x.jpg 2x"
          src="./img/our-products/classic-choc.jpg"
          alt="orange chocolate">
          <h3 class="products-title">Classic</h3>
          <p class="products-descr">Milk chocolate</p>
          <div class="products-sale">45 UAH</div>
        </div>
        <div class="swiper-slide swiper-item">
          <img
          srcset = "./img/our-products/honey-choc@2x.jpg 2x"
          src="./img/our-products/honey-choc.jpg"
          alt="orange chocolate">
          <h3 class="products-title">honey</h3>
          <p class="products-descr">Milk chocolate</p>
          <div class="products-sale">50 UAH</div>
        </div>
        <div class="swiper-slide swiper-item">
          <img
          srcset = "./img/our-products/roasted-choc@2x.jpg 2x"
          src="./img/our-products/roasted-choc.jpg"
          alt="orange chocolate">
          <h3 class="products-title">Roasted fruits</h3>
          <p class="products-descr">Dark chocolate</p>
          <div class="products-sale">66 UAH</div>
        </div>
        <div class="swiper-slide swiper-item">
          <img
          srcset = "./img/our-products/classic-w-choc@2x.jpg 2x"
          src="./img/our-products/classic-w-choc.jpg"
          alt="orange chocolate">
          <h3 class="products-title">Classic</h3>
          <p class="products-descr">White chocolate</p>
          <div class="products-sale">54 UAH</div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="slider-pagination"></div>

    </div>

  </div>
</section>
