<section class="products" id="our-products-anchor">
  <div class="container slider-container">
    <h2 class="products-title-section">
      Our <span class="products-title-accent">products</span>
    </h2>
    <!-- Slider main container -->
    <div class="myswiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper swiper-list">
        <!-- Slides -->
        <li class="swiper-slide swiper-item" data-modal-open>
          <img
            srcset="./img/our-products/orange-chock@2x.jwebp 2x"
            src="./img/our-products/orange-choc.webp"
            alt="orange chocolate"
            class="img-our-products"
          />
          <h3 class="products-title">orange</h3>
          <p class="products-descr">Dark chocolate</p>
          <span class="products-sale">45 UAH</span>
        </li>
        <li class="swiper-slide swiper-item" data-modal-open>
          <img
            srcset="./img/our-products/apple-choc@2x.webp 2x"
            src="./img/our-products/apple-choc.webp"
            alt="orange chocolate"
            class="img-our-products"
          />
          <h3 class="products-title">APPLE&CRANBERRY</h3>
          <p class="products-descr">Milk chocolate</p>
          <span class="products-sale">50 UAH</span>
        </li>
        <li class="swiper-slide swiper-item" data-modal-open>
          <img
            srcset="./img/our-products/lime-choc@2x.webp 2x"
            src="./img/our-products/lime-choc.webp"
            alt="orange chocolate"
            class="img-our-products"
          />
          <h3 class="products-title">lime&sea salt</h3>
          <p class="products-descr">Dark chocolate</p>
          <span class="products-sale">66 UAH</span>
        </li>
        <li class="swiper-slide swiper-item" data-modal-open>
          <img
            srcset="./img/our-products/pineapple-choc@2x.webp 2x"
            src="./img/our-products/pineapple-choc.webp"
            alt="orange chocolate"
            class="img-our-products"
          />
          <h3 class="products-title">pineapple</h3>
          <p class="products-descr">Dark chocolate</p>
          <span class="products-sale">54 UAH</span>
        </li>
        <li class="swiper-slide swiper-item" data-modal-open>
          <img
            srcset="./img/our-products/classic-choc@2x.webp 2x"
            src="./img/our-products/classic-choc.webp"
            alt="orange chocolate"
            class="img-our-products"
          />
          <h3 class="products-title">Classic</h3>
          <p class="products-descr">Milk chocolate</p>
          <span class="products-sale">45 UAH</span>
        </li>
        <li class="swiper-slide swiper-item" data-modal-open>
          <img
            srcset="./img/our-products/honey-choc@2x.webp 2x"
            src="./img/our-products/honey-choc.webp"
            alt="orange chocolate"
            class="img-our-products"
          />
          <h3 class="products-title">honey</h3>
          <p class="products-descr">Milk chocolate</p>
          <span class="products-sale">50 UAH</span>
        </li>
        <li class="swiper-slide swiper-item" data-modal-open>
          <img
            srcset="./img/our-products/roasted-choc@2x.webp 2x"
            src="./img/our-products/roasted-choc.webp"
            alt="orange chocolate"
            class="img-our-products"
          />
          <h3 class="products-title">Roasted fruits</h3>
          <p class="products-descr">Dark chocolate</p>
          <span class="products-sale">66 UAH</span>
        </li>
        <li class="swiper-slide swiper-item" data-modal-open>
          <img
            srcset="./img/our-products/classic-w-choc@2x.webp 2x"
            src="./img/our-products/classic-w-choc.webp"
            alt="orange chocolate"
            class="img-our-products"
          />
          <h3 class="products-title">Classic</h3>
          <p class="products-descr">White chocolate</p>
          <span class="products-sale">54 UAH</span>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
