<section class="section slider" id="reviews-anchor">
    <div class="container slider-container">
        <h2 class="slider-title">CHOCOLATE <span class="slider-title-accent">IS LOVED</span></h2>
        <div class="swiper">
            <ul class="slider-list swiper-wrapper">
                <li class="slider-item swiper-slide">
                    <img class="slider-item-img" srcset="./img/reviews/vika@2x.jpg" src="./img/reviews/vika.jpg"
                        alt="slider" width="80" />

                    <h3 class="slider-item-title">Victoria Dobrzhanska</h3>
                    <p class="slider-item-text">
                        I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer
                        chocolate.
                    </p>
                </li>
                <li class="slider-item swiper-slide">
                    <img class="slider-item-img" srcset="./img/reviews/nazar@2x.jpg" src="./img/reviews/nazar.jpg"
                        alt="slider" width="80" />

                    <h3 class="slider-item-title">Nazar Babenko</h3>
                    <p class="slider-item-text">
                        This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut
                        cream
                        is smooth, and the chocolate is good.
                    </p>
                </li>
                <li class="slider-item swiper-slide">
                    <img class="slider-item-img" srcset="./img/reviews/olena@2x.jpg" src="./img/reviews/olena.jpg"
                        alt="slider" width="80" />
                    <h3 class="slider-item-title">Olena Kampusch</h3>
                    <p class="slider-item-text">
                        Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess
                        inside. The wafer is soft but crunchy.
                    </p>
                </li>
                <li class="slider-item swiper-slide">
                    <img class="slider-item-img" srcset="./img/reviews/nata@2x.jpg" src="./img/reviews/nata.jpg"
                        alt="slider" width="80" />
                    <h3 class="slider-item-title">Natalia Sus</h3>
                    <p class="slider-item-text">
                        The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just
                        right on the sweetness level.
                    </p>
                </li>
                <li class="slider-item swiper-slide">
                    <img class="slider-item-img" srcset="./img/reviews/danilo@2x.jpg" src="./img/reviews/danilo.jpg"
                        alt="slider" width="80" />
                    <h3 class="slider-item-title">Danilo Nottingham</h3>
                    <p class="slider-item-text">
                        This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an
                        apple
                        with almond butter and these chips for a snack.
                    </p>
                </li>
                <li class="slider-item swiper-slide">
                    <img class="slider-item-img" srcset="./img/reviews/irina@2x.jpg" src="./img/reviews/irina.jpg"
                        alt="slider" width="80" />
                    <h3 class="slider-item-title">Irina Tydnyuk</h3>
                    <p class="slider-item-text">
                        This is simply the best chocolate around, and I'm just thrilled to support a local company! Best
                        local chocolate - world class :)
                    </p>
                </li>
            </ul>
            <div class="slider-pagination"></div>
        </div>
        <button type="button" class="reviews-btn">Leave a review</button>
    </div>
</section>