<section class="topsell-section" id="top-sellers-anchor">
  <div class="container">
    <h2 class="topsell-title-section">
      <span class="topsell-title-accent">Top</span> Sellers
    </h2>
    <ul class="topsell-list-images">
      <li>
        <img
          src="./img/top-sellers/desktopsellers-choco-nut.jpg"
          class="topsells-image"
          alt="topsellers-choco-nut"
        />
        <p class="topsell-text-mob">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li>
        <img
          src="./img/top-sellers/desktopsellers-choco-mint.jpg"
          class="topsells-image"
          alt="topsellers-choco-mint"
        />
      </li>
      <li class="topsell-list-img-none">
        <img
          src="./img/top-sellers/desktopsellers-choco-candy.jpg"
          class="topsells-image"
          alt="topsellers-choco-candy"
        />
      </li>
    </ul>
    <div class="topsell-discription-flex">
      <div class="topsell-discription-item">
        <p class="topsell-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </div>
      <button class="buy-now-button" type="button" data-modal-open>
        Buy now
      </button>
    </div>
  </div>
</section>
