<!--Section unique-components-->
<section class="unique-components-section">
    <div class="container">
        <div class="unique-components-container">
<h1 class="unique-components-headline">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unique-headine-link">TASTE </span>SENSATION</h1>
<p class="unique-components-text"> At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation. </p>
<ul class="unique-components-set">
    <li class="unique-components-item-first">
        <div class="thumb">
        <div class="item-first-front">
            <picture>
                <sourse srcset="./img/unique-components/unique-components-1/milk-choco-desc-1x.png 1x, ./src/img/unique-components/unique-components-1/milk-choco-desc-2x.png 2x"
            media="(min-width:1200px)">
            </sourse>
            <sourse srcset="./img/unique-components/image-1-mob-tab x1.jpg 1x, ./src/img/unique-components/image-1-mob-tab x2.jpg 2x"
            media="(min-width:768px)">
            </sourse>
            <sourse srcset="./img/unique-components/image-1-mob-tab x1.jpg 1x, ./src/img/unique-components/image-1-mob-tab x2.jpg 2x"
            media="(min-width:480px)">
            </sourse>
        <img class="img" src="./img/unique-components/milk-choco-desc-1x.png" width="206" alt="Milk-chocolate" height="160">
            </picture>
    </div>
                <div class="product-actions">
                <h2 class="thumb-overlay">
                <p class="thumb-overlay-title">Milk chocolate</p>
                <button class="unique-components-btn-first">chocolate</button>
                <button class="unique-components-btn-two">the benefits</button>
                <p class="unique-animation-text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe."></p>
                </div>
             </div>   
        <div class="unique-components-description">
        <h2 class="unique-components-title-one">Milk chocolate</h2>
        </div>
        </li>
    <li class="unique-components-item-second">
        <div class="thumb">
            <div class="item-first-front">
        <picture>
            <sourse srcset="./img/unique-components/unique-components-1/milk-desc-1x.png 1x, ./src/img/unique-components/unique-components-1/milk-desc-2x.png 2x"
            media="(min-width:1200px)">
            </sourse>
            <sourse srcset="./img/unique-components/image-2-mob-tab x1.jpg 1x, ./src/img/unique-components/image-2-mob-tab x2.jpg 2x"
            media="(min-width:768px)">
            </sourse>
            <sourse srcset="./img/unique-components/image-2-mob-tab x1.jpg 1x, ./src/img/unique-components/image-2-mob-tab x2.jpg 2x"
            media="(min-width:480px)">
            </sourse>
        <img class="img" src="./img/unique-components/milk-desc-1x.png" width="206" alt="Milk" height="160">
            </picture>
            </div>
        <div class="product-actions">
        <h2 class="thumb-overlay">
        <p class="thumb-overlay-title">Milk</p>
        <button class="unique-components-btn-second">milk</button>
        <button class="unique-components-btn-two">the benefits</button>
        <p class="unique-animation-text">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.></p>
     </div>   
        <div class="unique-components-description">
        <h2 class="unique-components-title-two">Milk</h2>
        </div>
        </li>
        <li class="unique-components-item-third">
        <div class="thumb">
            <div class="item-first-front">
            <picture>
                <sourse srcset="./img/unique-components/unique-components-1/nuts-desc-1x.png 1x, ./src/img/unique-components/unique-components-1/nuts-desc-2x.png 2x"
                media="(min-width:1200px)">
                </sourse>
                <sourse srcset="./img/unique-components/image-3-mob-tab x1.jpg 1x, ./src/img/unique-components/image-3-mob-tab x2.jpg 2x"
                media="(min-width:768px)">
                </sourse>
                <sourse srcset="./img/unique-components/image-3-mob-tab x1.jpg 1x, ./src/img/unique-components/image-3-mob-tab x2.jpg 2x"
                media="(min-width:480px)">
                </sourse>
            <img class="img" src="./img/unique-components/nuts-desc-1x.png" width="206" alt="Nuts" height="160">
                </picture>
                </div>
                    <div class="product-actions">
                    <h2 class="thumb-overlay">
                    <p class="thumb-overlay-title-third">Nuts</p>
                    <button class="unique-components-btn-third">nuts</button>
                    <button class="unique-components-btn-two">the benefits</button>
                    <p class="unique-animation-text-third">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.></p>
                    </div>
        <div class="unique-components-description">
        <h2 class="unique-components-title-one">Nuts</h2>
        </div>
         </li>
    <li class="unique-components-item-fourth">
        <div class="thumb">
            <div class="item-first-front">
            <picture>
                <sourse srcset="./img/unique-components/unique-components-1/drops-desc-1x.png 1x, ./src/img/unique-components/unique-components-1/drops-desc-2x.png 2x"
                media="(min-width:1200px)">
                </sourse>
                <sourse srcset="./img/unique-components/image-4-mob-tab x1.jpg 1x, ./src/img/unique-components/image-2-mob-tab x2.jpg 2x"
                media="(min-width:768px)">
                </sourse>
                <sourse srcset="./img/unique-components/image-4-mob-tab x1.jpg 1x, ./src/img/unique-components/image-2-mob-tab x2.jpg 2x"
                media="(min-width:480px)">
                </sourse>
            <img class="img" src="./img/unique-components/drops-desc-1x.png" width="206" alt="Milk" height="160">
                </picture>
                </div>
                    <div class="product-actions">
                    <h2 class="thumb-overlay">
                    <p class="thumb-overlay-title-fourth">Semi-sweet chocolate</p>
                    <button class="unique-components-btn-fourth">sweet-chocolate</button>
                    <button class="unique-components-btn-two">the benefits</button>
                    <p class="unique-animation-text-fourth">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk...></p>
                    </div>
        <div class="unique-components-description">
        <h2 class="unique-components-title-two">Semi-sweet chocolate</h2>
        </div>
        </li>
    </ul>
    </div>
    </section>
<!--/Section unique-components-->