<!--Section unique-components-->
<section class="unique-components-section">
  <div class="unique-components-container container">
    <h2 class="unique-components-headline">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="unique-headine-link">TASTE </span>SENSATION
    </h2>
    <p class="unique-components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unique-components-set">
      <li class="unique-components-item flip-wrapper">
        <div class="unique-components-card">
          <div class="unique-components-card-front">
            <picture>
              <source
                srcset="
                  ./img/unique-components/component-1.webp 1x,
                  ./img/unique-components/component-1@2x.webp 2x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./img/unique-components/component-1-mobile.webp 1x,
                  ./img/unique-components/component-1-mobile@2x.webp 2x
                "
                media="(max-width:1199px)"
              />
              <img
                class="components-img img"
                src="./img/unique-components/component-1.webp"
                alt="Chocolate"
              />
            </picture>
            <h3 class="unique-components-title">Milk chocolate</h3>
          </div>
          <div class="product-actions">
            <h3 class="thumb-overlay-title">Milk chocolate</h3>
            <span class="unique-components-btn first"> chocolate </span>
            <span class="unique-components-btn two"> the benefits </span>
            <p class="unique-animation-text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe."
            </p>
          </div>
        </div>
      </li>
      <li class="unique-components-item flip-wrapper">
        <div class="unique-components-card">
          <div class="unique-components-card-front white">
            <picture>
              <source
                srcset="
                  ./img/unique-components/component-2.webp 1x,
                  ./img/unique-components/component-2@2x.webp 2x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./img/unique-components/component-2-mobile.webp 1x,
                  ./img/unique-components/component-2-mobile@2x.webp 2x
                "
                media="(max-width:1199px)"
              />
              <img
                class="components-img img"
                src="./img/unique-components/component-2.webp"
                alt="Milk"
              />
            </picture>
            <h3 class="unique-components-title black">Milk</h3>
          </div>
          <div class="product-actions">
            <h3 class="thumb-overlay-title">Milk</h3>
            <span class="unique-components-btn first"> milk </span>
            <span class="unique-components-btn two"> the benefits </span>
            <p class="unique-animation-text">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </li>
      <li class="unique-components-item flip-wrapper nuts">
        <div class="unique-components-card">
          <div class="unique-components-card-front nuts">
            <picture>
              <source
                srcset="
                  ./img/unique-components/component-3.webp 1x,
                  ./img/unique-components/component-3@2x.webp 2x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./img/unique-components/component-3-mobile.webp 1x,
                  ./img/unique-components/component-3-mobile@2x.webp 2x
                "
                media="(max-width:1199px)"
              />
              <img
                class="components-img img"
                src="./img/unique-components/component-3.webp"
                alt="Nuts"
              />
            </picture>
            <h3 class="unique-components-title">Nuts</h3>
          </div>
          <div class="product-actions">
            <h3 class="thumb-overlay-title">Nuts</h3>
            <span class="unique-components-btn first"> nuts </span>
            <span class="unique-components-btn two"> the benefits </span>
            <p class="unique-animation-text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </li>

      <li class="unique-components-item flip-wrapper coffee">
        <div class="unique-components-card">
          <div class="unique-components-card-front white">
            <picture>
              <source
                srcset="
                  ./img/unique-components/component-4.webp 1x,
                  ./img/unique-components/component-4@2x.webp 2x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./img/unique-components/component-4-mobile.webp 1x,
                  ./img/unique-components/component-4-mobile@2x.webp 2x
                "
                media="(max-width:1199px)"
              />
              <img
                class="components-img img"
                src="./img/unique-components/component-4.webp"
                alt="Coffee"
              />
            </picture>
            <h3 class="unique-components-title black">Semi-sweet chocolate</h3>
          </div>
          <div class="product-actions">
            <h3 class="thumb-overlay-title">Semi-sweet chocolate</h3>
            <span class="unique-components-btn first"> sweet chocolate </span>
            <span class="unique-components-btn two"> the benefits </span>
            <p class="unique-animation-text">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!--/Section unique-components-->
