
<!--Section unique-components-->
<section class="unique-components-section">
    <div class="container">
        <div class="unique-components-container">
<h1 class="unique-components-headline">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unique-headine-link">TASTE </span>SENSATION</h1>
<p class="unique-components-text"> At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation. </p>
<ul class="unique-components-set">
    <li class="unique-components-item-first">
        <div class="thumb">
        <div class="item-first-front">
            <picture>
                <sourse srcset="./img/unique-components/unique-components-1/milk-choco-desc-1x.png 1x, ./src/img/unique-components/unique-components-1/milk-choco-desc-2x.png 2x"
            media="(min-width:1200px)">
            </sourse>
            <sourse srcset="./img/unique-components/image-1-mob-tab x1.jpg 1x, ./src/img/unique-components/image-1-mob-tab x2.jpg 2x"
            media="(min-width:768px)">
            </sourse>
            <sourse srcset="./img/unique-components/image-1-mob-tab x1.jpg 1x, ./src/img/unique-components/image-1-mob-tab x2.jpg 2x"
            media="(min-width:480px)">
            </sourse>
        <img class="img" src="./img/unique-components/image-1-desc x1.jpg" width="206" alt="Milk-chocolate" height="160">
            </picture>
    </div>
    </div>
            <div class="animation-overlay">
                <div class="product-actions">
                <h2 class="thumb-overlay">Milk chocolate</h2>
                <button class="unique-components-btn-first">chocolate</button>
                <button class="unique-components-btn-two">the benefits</button>
                <p class="unique-animation-text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe."></p>
                </div>
             </div>   
        <div class="unique-components-description">
        <h2 class="unique-components-title-one">Milk chocolate</h2>
        </div>
        </li>
    <li class="unique-components-item-second">
        <div class="thumb">
        <picture>
            <sourse srcset="./img/unique-components/image-2-desc x1.jpg 1x, ./src/img/unique-components/image-2-desc x2.jpg 2x"
            media="(min-width:1200px)">
            </sourse>
            <sourse srcset="./img/unique-components/image-2-mob-tab x1.jpg 1x, ./src/img/unique-components/image-2-mob-tab x2.jpg 2x"
            media="(min-width:768px)">
            </sourse>
            <sourse srcset="./img/unique-components/image-2-mob-tab x1.jpg 1x, ./src/img/unique-components/image-2-mob-tab x2.jpg 2x"
            media="(min-width:480px)">
            </sourse>
        <img class="img" src="./img/unique-components/image-2-desc x1.jpg" width="206" alt="Milk" height="160">
            </picture>
    </div> 
    <div class="animation-overlay">
        <div class="product-actions">
        <h2 class="thumb-overlay">Milk</h2>
        <button class="unique-components-btn-second">milk</button>
        <button class="unique-components-btn-two">the benefits</button>
        <p class="unique-animation-text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe."></p>
        </div>
     </div>   
        <div class="unique-components-description">
        <h2 class="unique-components-title-two">Milk</h2>
        </div>
        </li>
    <li class="unique-components-item-third">
        <div class="thumb">
            <picture>
                <sourse srcset="./img/unique-components/image-3-desc x1.jpg 1x, ./src/img/unique-components/image-3-desc x2.jpg 2x"
                media="(min-width:1200px)">
                </sourse>
                <sourse srcset="./img/unique-components/image-3-mob-tab x1.jpg 1x, ./src/img/unique-components/image-3-mob-tab x2.jpg 2x"
                media="(min-width:768px)">
                </sourse>
                <sourse srcset="./img/unique-components/image-3-mob-tab x1.jpg 1x, ./src/img/unique-components/image-3-mob-tab x2.jpg 2x"
                media="(min-width:480px)">
                </sourse>
            <img class="img" src="./img/unique-components/image-3-desc x1.jpg" width="206" alt="Nuts" height="160">
                </picture>
                </div>
                <div class="animation-overlay">
                    <div class="product-actions">
                    <h2 class="thumb-overlay">Nuts</h2>
                    <button class="unique-components-btn-third">nuts</button>
                    <button class="unique-components-btn-two">the benefits</button>
                    <p class="unique-animation-text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe."></p>
                    </div>
                 </div>   
        <div class="unique-components-description">
        <h2 class="unique-components-title-one">Nuts</h2>
        </div>
         </li>
    <li class="unique-components-item-fourth">
        <div class="thumb">
            <picture>
                <sourse srcset="./img/unique-components/image-4-desc x1.jpg 1x, ./src/img/unique-components/image-2-desc x2.jpg 2x"
                media="(min-width:1200px)">
                </sourse>
                <sourse srcset="./img/unique-components/image-4-mob-tab x1.jpg 1x, ./src/img/unique-components/image-2-mob-tab x2.jpg 2x"
                media="(min-width:768px)">
                </sourse>
                <sourse srcset="./img/unique-components/image-4-mob-tab x1.jpg 1x, ./src/img/unique-components/image-2-mob-tab x2.jpg 2x"
                media="(min-width:480px)">
                </sourse>
            <img class="img" src="./img/unique-components/image-4-desc x1.jpg" width="206" alt="Milk" height="160">
                </picture>
                </div>
                <div class="animation-overlay">
                    <div class="product-actions">
                    <h2 class="thumb-overlay">Semi-sweet chocolate</h2>
                    <button class="unique-components-btn-fourth">sweet-chocolate</button>
                    <button class="unique-components-btn-two">the benefits</button>
                    <p class="unique-animation-text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe."></p>
                    </div>
                 </div>   
        <div class="unique-components-description">
        <h2 class="unique-components-title-two">Semi-sweet chocolate</h2>
        </div>
        </li>
    </ul>
    </div>
    </section>
<!--/Section unique-components-->