.footer-last{
    padding: 50px 0;
    background: #1E1823;
}

.footer-text-first{
 text-align: left;
 text-transform: none;
width: 300px;
font-weight: 500;
font-size: 24px;
line-height: 1.2;
letter-spacing: -0.02em;
color: var(--orange-color)
}
.footer-second-text{
text-align: left;
text-transform: none;
 font-weight: 500;
font-size: 24px;
line-height: 1.2;
letter-spacing: -0.02em;
color: var(--white-color);
}
.footer-top-wrap {
  padding-top: 32px;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
  }
 .footer-social{
    max-width: 164px;
    font-style: normal;

  }
  .footer-contact{
    margin-bottom: 14px;
    font-weight: 500;
    letter-spacing: normal;
  }
  .footer-contact-list{
    display: flex;
    gap: 14px;

  }
  .footer-address-item{
    padding-bottom: 4px;
  }
  .footer-contact-list-mob-em{

  }
.footer-gap{
  display: flex;
}
  .footer-list-link{
    display: flex;
    height: 100%;
    fill: var(--white-color);
  }

  .footer-list-link:is(:hover, :focus) {
    fill: var(--orange-color);}

.footer-list{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer-link{
  display: block;
  font-weight: 500;
  line-height: 1.14;
  color: var(--white-color);
}
.line-4{
  content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    bottom: 32px;
}