:root {
  --black-color: #111111;
  --brown-color: #1e1823;
  --orange-color: #fd9222;
  --white-color: #ffffff;
  --button-hover: #fcf1e0;
  --bg-main-color: #fafafa;

  --transition-dur-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'MontserratNormal', sans-serif;
  background-color: var(--bg-main-color);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 365px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 734px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1166px;
  }
}
