.hero {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 71px;
  background-size: cover;
  background-color: var(--white-color);
  padding: 395px 0 21px 0;
  border-radius: 30px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/img/hero/hero-background-mobail1x.jpg);
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero/hero-background-mobail@2x.jpg);
    background-size: cover;
  }
}
.hero-container {
  max-width: 244px;
  padding: 0 20px 0 16px;
}
.hero-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--white-color);
  max-width: 299px;
  margin-bottom: 32px;
  animation: 8s anim-description ease-out;
}
@keyframes anim-description {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.hero-btn {
  font-family: inherit;
  cursor: pointer;
  padding: 12px 28px;
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--white-color);
}
.hero-buy-now {
  background-color: var(--orange-color);
  margin: 32px;
}
.hero-how-its-made {
  background-color: transparent;
  border: 1px solid var(--white-color);
  margin-left: 14px;
}
.hero-scroll-down {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--white-color);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: inherit;
}
.hero-link-icon {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  color: var(--orange-color);
}
.hero-link-icon:is(:hover, :focus) {
  color: var(--white-color);
}
.hero-icon {
  fill: currentColor;
}

.hero-buy-now:hover,
.hero-buy-now:focus {
  color: var(--orange-color);
  background-color: var(--button-hover);
}
.hero-how-its-made:hover,
.hero-how-its-made:focus {
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
  background-color: var(--white-color);
}
.hero-scroll-down:hover,
.hero-scroll-down:focus {
  color: var(--orange-color);
}
.hero-link-icon:hover,
.hero-link-icon:focus {
  background-color: var(--orange-color);
}

@media screen and (min-width: 375px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    max-width: 335px;
  }
  .hero-container {
    max-width: 325px;
  }
  .hero-buy-now {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 654px;
    padding: 0 40px;
  }
  .hero {
    margin-bottom: 50px;
    max-width: 704px;
    padding: 671px 0 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero/hero-background-tablet1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/img/hero/hero-background-tablet@2x.jpg);
    }
  }
  .hero-description {
    max-width: 484px;
    font-size: 28px;
    line-height: 1.21;
  }
  .hero-list {
    margin-bottom: 0;
  }
  .hero-list-btn {
    display: flex;
    justify-content: space-between;
  }
  .hero-btn {
    padding: 14px 40px;
  }
  .hero-scroll-down {
    font-size: 14px;
    line-height: 1.29;
  }
}
@media screen and (min-width: 1200px) {
  /* Колонки */
  .hero-container {
    max-width: 1086px;
  }
  .hero {
    margin-bottom: 72px;
    max-width: 1136px;
    padding: 381px 0 40px 0;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero/hero-background-desktop1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/img/hero/hero-background-deskto@2x.jpg);
    }
  }
}
