.him {
  padding: 128px 0;
}

.him-container {
   
}

.him-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16em;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 50px;
}

.him-title-alt {
  color: var(--orange-color);
}

.him-content-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.him-video[poster]{
  object-fit: cover;
  
}

.him-video {
      display: block;
        max-width: 100%;
        border-radius: 15px;
      
}





.him-list {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 516px;

  padding: 32px 64px 34px 32px;

  background-color: var(--white-color);
  border-radius: 15px;
}

.him-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3em;
  margin-bottom: 28px;
  color: var(--black-color);
}

.him-list {
  list-style-image: url(../img/how-its-made/Ellipse.png);
  list-style-position: outside;
  padding-right: 8px;
}

.him-list .himsub-item{
  list-style: none;
}

.him-item {
  margin-bottom: 24px;
}

.him-item:last-child {
  margin-bottom: 0;
}

.him-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2em;
  
  color: var(--black-color);
}

@media screen and (min-width: 375px) {
   
    

        .him-content-block {
            width: 100%;
            flex-direction: column;
            gap: 20px;
        }

   

    .him-video{
        display: block;
        
        width: 355px;
      
        height: 500px;
    }


        .him-list {
            display: flex;
            align-items: flex-start;
            width: 100%;
            max-width: 355px;
            padding: 20px 14px ;
        }

                .him-subtitle {
                  text-align: left;
                  width: 100%;
                  max-width: 350px;
                }
}

@media screen and (min-width: 768px) {
    

        .him-content-block {
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }

    .him-video{
        display: block;
        width: 100%;
        max-width: 614px;
        height: 100%;
        max-height: 400px;
    }

    .him-list{
        display: flex;
        max-width: 614px;
        height: 100%;
        max-height: 356px;
        padding: 32px;
    }

}

@media screen and (min-width: 1200px) {
    
  .him{
      
  }

  .him-content-block {
      flex-direction: unset;
      gap: 20px;
  }

    .him-video{
        display: block;
        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: 400px;
    }

    .him-list {
    
    display: flex;
   
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 516px;
    height: 100%;
    max-height: 400px;
    
    padding: 32px 48px 32px 34px;
    
    background-color: var(--white-color);
    border-radius: 15px;
    }

    .him-subtitle{
  
      text-align: left;
      width: 100%;
      max-width: 350px;
      
    }

}