@import 'swiper/css/bundle';
.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}
.products-title-accent{
  color: var(--orange-color);
}


