@import 'swiper/css/bundle';
.products {
  padding-bottom: 128px;
}
.slider-container {
  overflow: hidden;
}
.products-title-section {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black-color);
  margin-bottom: 50px;
}
.products-title-accent {
  color: var(--orange-color);
}
.swiper-list {
  margin-bottom: 55px;
}
.img-our-products {
  margin-bottom: 10px;
}
.swiper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--white-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  transition: all var(--transition-dur-bezier);
}
.swiper-item:is(:hover, :focus) {
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
}
.swiper-item:hover .products-sale,
.swiper-item:focus .products-sale {
  background-color: var(--orange-color);
  color: var(--white-color);
}
.swiper-item:hover .products-title,
.swiper-item:focus .products-title {
  color: var(--orange-color);
}
.swiper-item .img-our-products {
  transition: all var(--transition-dur-bezier);
}
.swiper-item:hover .img-our-products,
.swiper-item:focus .img-our-products {
  transform: scale(1.05);
}

.products-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black-color);
  margin-bottom: 2px;
  transition: all var(--transition-dur-bezier);
}
.products-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.products-sale {
  padding: 8px 20px;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-color);
  text-align: center;
  transition: all var(--transition-dur-bezier);
}
.swiper-pagination {
  position: unset;
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.3);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  background: #fd9222;
  flex: none;
  border-radius: 28px / 28px;
}
@media screen and (min-width: 375px) {
  .products {
    padding-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-bottom: 128px;
  }
}
