@import 'swiper/css/bundle';
.slider {
  background-color: var(--bg-main-color);
  margin-bottom: 128px;
}
.slider-container {
  overflow: hidden;
}

.slider-title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fd9222;
  margin-bottom: 91px;
}
.slider-title-accent {
  color: var(--black-color);
}
.slider-list {
  overflow: visible;
  margin-bottom: 50px;
  text-align: center;
}
.slider-item {
  position: relative;
  z-index: 10;
  background-color: var(--white-color);
  width: 360px;
  height: 200px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.slider-item-img {
  position: absolute;
  z-index: 100000;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  border-radius: 50%;
  margin: 0 auto;
  /* margin-bottom: 18px; */
}

.slider-item-title {
  padding-top: 18px;
  margin-top: 56px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33px;
  text-align: center;
  color: var(--black-color);
}
.swiper {
  overflow: visible;
}
.slider-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 26px;
}
.reviews-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--black-color);
  background-color: var(--white-color);
  padding: 14px 40px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  margin: 0 auto;
  display: flex;
  transition: background-color var(--transition-dur-bezier),
    color var(--transition-dur-bezier);
}
.reviews-btn:hover,
.reviews-btn:focus {
  background-color: var(--orange-color);
  color: var(--white-color);
}

.slider-pagination {
  position: unset;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.slider-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.3);
}

.slider-pagination-bullet.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  background: #FD9222;
  flex: none;
  border-radius: 28px / 28px;
}
@media screen and (min-width: 375px) {
  .slider {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .slider {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    margin-bottom: 128px;
  }
}


